* {
    margin: 0px;
    font-family: Arial;
}

html {
    scroll-behavior: smooth;
}

.scroll-btn {
    z-index: 10;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: orangered;
    border-radius: 50%;
    padding: 15px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-btn:hover {
    cursor: pointer;
}

.scroll-btn-visibility {
    display: none !important;
}

.fa-arrow-up {
    font-size: 15px;
    color: white;
}

.fa-arrow-up:hover {
    color: black;
}

@media (min-width: 1140px) and (max-width: 1920px) {
    .scroll-btn {
        padding: 27px;
    }

    .fa-arrow-up {
        font-size: 20px;
    }
}

/*----------------  Header section  ----------------*/

/* #region HEADER SECTION */
.header_container {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(46, 45, 45);
    height: 60px;
    width: 100%;
    top: 0;
    position: fixed;
}

.name {
    color: white;
    transition: 0.3s ease;
}

.name:hover {
    color: orangered;
    text-shadow: 0 0 25px orangered,
        0 0 50px orangered;
    transform: scale(1.1);
}

#about {
    color: orangered;
    border-bottom: 3px solid orangered;
}

nav {
    display: flex;
    text-decoration: none;
    gap: 25px;
}

.link {
    color: white;
    text-decoration: none;
}

.link.active,
.link:hover {
    color: orangered;
    border-bottom: 3px solid orangered;
}

.Contact {
    padding: 10px 28px;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: 0.3s ease;
    border: none;
}

.Contact:hover {
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}

@media (min-width: 1140px) and (max-width: 1920px) {
    .header_container {
        height: 90px;
    }

    .name {
        font-size: 30px;
    }

    nav {
        font-size: 28px;
        gap: 90px;
    }

    .Contact {
        padding: 15px 30px;
        font-size: 20px;
    }
}

#bars {
    color: white;
    display: none;
}

.nav2 nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2 a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.nav2 a:hover {
    color: orangered;
    text-decoration: underline;
}

.nav2 {
    position: fixed;
    display: none;
    height: 20vh;
    width: 100%;
    background-color: #333;
    top: 0px;
    right: 0px;
}

.show {
    display: block;
}

#exit {
    font-size: 20px;
    color: red;
    margin: 20px 0 5px 20px;
    cursor: pointer;
}


@media (max-width: 693px) {
    .nav1 {
        display: none;
    }

    #bars {
        display: block;
        color: white;
    }

    .Contact {
        display: none;
    }
}

@media (min-width: 692px) {
    .nav2 {
        display: none;
    }
}

/* @media (min-width: 414px) {
    #exit {
        margin-left: 50px;
    }
} */

/* #endregion */


/*----------------  About section  ----------------*/

.about_container {
    /* margin-left: 100px; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 100px 0;
    padding-left: 30px;
    gap: 30px;
}

.about_container div {
    justify-content: center;
    align-items: center;
}

.about_container p {
    padding-right: 40px;
    text-align: center;
}

span {
    color: orangered;
}

.hi {
    font-size: 15px;
    color: black;
}

.about_container p {
    text-align: justify;
}

.img {
    width: 230px;
    border-radius: 50%;
    margin-right: 40px;
    border: 1px solid black;
}


@media (min-width: 1140px) and (max-width: 1940px) {
    .about_container {
        justify-content: space-around;
    }

    .hi {
        font-size: 20px;
    }

    .about_container div h1 {
        font-size: 40px;
    }

    .about_container div p {
        font-size: 25px;
    }

    .img {
        width: 330px;
    }
}

@media (max-width: 879px) {
    .about_container {
        gap: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 776px) {
    .about_container {
        flex-direction: column;
        gap: 60px;
    }
}


/*----------------  Project section  ----------------*/

.projects_container {
    /* background-color: rgb(197, 204, 211); */
    background-color: rgb(220, 220, 220);
    padding: 20px 20px 80px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.projects_container a {
    color: orangered;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.projects_container a:hover {
    border-bottom: 2px solid orangered;
}

.project_name {
    text-align: center;
    font-size: 27;
}

.project_link {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 275px));
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project_link div {
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    height: 270px;
    width: 100%;
    text-align: center;
    transition: 0.3s ease;
}

.project_link div:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
}

.project_img {
    height: 170px;
    width: 75%;
    margin: 10px auto;
}

@media (min-width: 1920px) {
    .project_name {
        font-size: 43px;
    }

    .project_link {
        gap: 50px;
        max-width: 1600px;
    }

    .project_link div {
        width: 500px;
        height: 350px;
        font-size: 18px;
    }

    .project_img {
        height: 200px;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .project_name {
        font-size: 40px;
    }

    .project_link {
        gap: 70px;
    }

    .project_name {
        font-size: 30px;
    }

    .project_link div {
        width: 400px;
        height: 300px;
        font-size: 15px;
    }

    .project_img {
        height: 170px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .project_name {
        font-size: 30px;
    }

    .project_link div {
        width: 340px;
        height: 250px;
        font-size: 15px;
    }

    .project_img {
        height: 170px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .project_name {
        font-size: 34px;
    }

    .project_link div {
        width: 40%;
        font-size: 15px;
    }

    .project_img {
        height: 150px;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .project_name {
        font-size: 30px;
    }

    .project_link div {
        width: 70%;
        height: auto;
        font-size: 14px;
    }

    .project_img {
        height: 140px;
    }
}

@media (max-width: 539px) {
    .project_name {
        font-size: 26px;
    }

    .project_link div {
        width: 80%;
        height: auto;
        font-size: 13px;
    }

    .project_img {
        height: 130px;
    }
}


/*----------------  Education section  ----------------*/

.Education {
    background-color: whitesmoke;
    height: auto;
    padding-top: 25px;
    padding: 25px 40px 25px 40px;
}

.edu {
    color: orangered;
    text-align: center;
    margin-bottom: 30px;
    font-size: 27px;
}

#education {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.education_part {
    background: #ffffff;
    border-left: 6px solid orangered;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
    text-align: left;
}

.education_part:hover {
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
}

.education_part p {
    line-height: 1.6;
    color: #555;
}

#institute_link {
    color: #555;
    text-decoration: none;
    border-bottom: 2px solid #ffffff;
}

#institute_link:hover {
    border-bottom: 2px solid orangered;
}

.fa-globe:hover {
    color: orangered;
}

.education_part b {
    color: #000;
}


@media (min-width: 1920px) {
    .edu {
        font-size: 43px;
    }

    .education_part h2 {
        font-size: 35px;
    }

    .education_part p {
        font-size: 25px;
    }
}

@media (min-width: 1200px) and (max-width: 1919px) {
    .edu {
        font-size: 40px;
    }

    .education_part h2 {
        font-size: 33px;
    }

    .education_part p {
        font-size: 23px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .edu {
        font-size: 30px;
    }

    .education_part h2 {
        font-size: 23px;
    }

    .education_part p {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .edu {
        font-size: 34px;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .edu {
        font-size: 30px;
    }
}

@media (max-width: 539px) {
    .edu {
        font-size: 26px;
    }
}



/*SKILLS*/

.skill_container {
    padding: 45px;
}

.skill_container h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--text-hover-color);
    text-align: center;
}

.skills_icon img {
    height: 35px;
    width: auto;
}

.skills_icon {
    margin-top: 30px;
    display: flex;
    gap: 60px;
}

.skills_icon p {
    text-align: center;
}

.skills_icon div {
    text-align: center;
}

.skills_group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

@media (max-width: 480px) {
    .skills_icon {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1920px) {
    #skill_name {
        font-size: 35px;
    }

    .skills_icon {
        gap: 25px;
    }
}


/*FOOTER*/

#footer_style {
    background-color: rgb(46, 45, 45);
    height: 60px;
    width: 100%;
    display: flex;
    gap: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    align-items: center;
}

#footer_style i {
    color: white;
    font-size: 20px;
}

#footer_style i:hover {
    color: var(--text-hover-color);
}

:root {
    --text-hover-color: orangered;
}

@media (min-width: 1140px) and (max-width: 1920px) {
    #footer_style {
        height: 90px;
        gap: 60px;
    }

    #footer_style i {
        font-size: 30px;
    }
}

#contact_background {
    width: 100%;
    height: 140px;
    position: absolute;
    z-index: -1;
}

.contact h1 {
    color: var(--text-hover-color);
    text-align: center;
    position: relative;
    padding-top: 50px;
}

.contact_detail h2 {
    color: var(--text-hover-color);
    text-align: center;
    padding-top: 90px;
}

.contact_detail p {
    text-align: center;
    padding-top: 20px;
}

.fa-envelope {
    text-align: center;
}

.contact_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.fonts:hover {
    color: var(--text-hover-color);
}

#phone_logo {
    margin-bottom: 40px;
}